@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
  margin: 0;
  font-family: 'Roboto';
}

.container{
  padding-left: 88px;
  padding-right: 88px;
}

.row{
  display: flex;
  justify-content: space-between;

}

.col{
  margin-bottom: 30px;
}

.dashboard{
  display: flex;
  gap:  10px;
}

.main{
  margin-top: 20px;
  
}

.dashboard-body{
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }

  .row{
    display: block;
  }

  .col{
    margin-bottom: 30px;
  }

  .dashboard{
    display: block;
    padding-left: 18px;
    padding-right: 18px;
  }
}